@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Quicksand&display=swap');

body {
  font-family: 'Quicksand', sans-serif !important;
  margin: 0;
  background-color: #ffffff;
}

.weather-fair {
  background-color: #74b9ff40 !important;
}

.weather-cloudy {
  background-color: #efefef !important;
}

.weather-partly-cloudy {
  background-color: #0984e340 !important;
}

.layout {
  width: 100vw;
  height: 100vh;
}

.header {
  background-color: transparent !important;
}

.footer {
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
}

.logo {
  width: auto;
  height: 38px;
  display: block;
}

.searchbar {
  float: right;
  width: 300px;
  margin-top: 16px
}

.recents-container {
  background-color: #fbfbfb;
  width: 100% !important;
  padding: 8px !important;
  margin: 0 !important;
  white-space: nowrap;
  overflow-y: hidden !important;
  overflow-x: auto !important;
}

.city-name {
  font-size: 28px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.airport-name {
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.current-temp {
  font-size: 96px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.current-condition {
  font-size: 28px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.feels-like {
  font-size: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.current-params {
  text-align: center;
}

.text-right {
  text-align: end !important;
}

.text-justify {
  text-align: justify !important;
}

h1, h4, h5, h6 {
  font-family: 'Poppins', sans-serif !important;
}